<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Главная</title>

    <!-- Bootstrap -->

    <link href="{{ asset('bundles/user/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/user/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/user/css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/user/fonts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>
<nav class="top_menu">
    <div class="container">
        <div class="row">
            <div class="col-md-8 menu_top">
                <ul>
                    <li><a href="html/delivery.html">Доставка и оплата</a></li>
                    <li><a href="html/credit.html">Кредит</a></li>
                    <li><a href="html/about_us.html">О нас</a></li>
                    <li><a href="html/contacts.html">Контакты</a></li>
                </ul>
            </div>


        </div>
    </div>
</nav>

<header class="header">
    <div class="container head_line">
        <div class="row">
            <div class="col-md-3  logo"><img src="{{ asset('bundles/user/images/logo.png') }}  " width="200">
            </div>
            <div class="col-md-3  phone">
                <label><i class="fa fa-phone" aria-hidden="true"></i> +38(044)388-00-88<br>
                </label>
            </div>
            <div class="col-md-3 grafik">
                <h1>Работаем с Пн-Пт</h1>
                <h2>c 09:00-20:00</h2>
                <h2>Сб 10:00-18:00</h2>
                <h2>Вс- выходной</h2>
            </div>

        </div>




            </div>

</header>
<div class="container">
    <table border="1" style="width: 100%">
        <tr>
            <td valign="top" style="width: 400px">
                <ul>
                    <li><a href="{{ path("user_homepage.som") }}">Стартовая</a></li>
                    <li><a href="{{ path("user_homepage.pop") }}">Все товары</a></li>
                    <li><a href="{{ path("user_homepage.show_product_ID", {id:12}) }}">Товар </a></li>

                </ul>
            </td>
            <td valign="top">
                {% block body %}
                {% endblock %}
            </td>
        </tr>
    </table>
</div>



<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Дополнительно</h2>

                <h3><a href="#">Гарантии</a></h3>
                <h3><a href="#">Условия возврата</a></h3>
                <h3><a href="#">Часто задаваемые вопросы</a></h3>
                <h3><a href="#">Предложения</a></h3>

            </div>
            <div class="col-md-4">
                <h2>Контакты</h2>
                <h3><i class="fa fa-phone" aria-hidden="true"></i>&nbsp +38(044)388-00-88</h3>
                <h3><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp +38(067)994-22-12 </h3>
                <h3><i class="glyphicon glyphicon-envelope"></i>&nbsp info@watch4you.com</h3>
                <h3><i class="glyphicon glyphicon-map-marker"></i>&nbsp ул. Антоновича 4/6</h3>
            </div>
            <div class="col-md-4 map">
                <h2>Мы на карте</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.108273123422!2d30.5110593154391!3d50.43908387947375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefbe389949f%3A0xed661cc0ce58f802!2z0LLRg9C70LjRhtGPINCQ0L3RgtC-0L3QvtCy0LjRh9CwLCA0LzYsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1478104040862"
                        width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</footer>
<!--Call-Back start-->

<!--Call-Back start-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>
</html>